apiVersion: apps/v1
kind: Deployment
metadata:
  name: multi-k8s-auth-agent
  namespace: multi-k8s-auth
spec:
  replicas: 1
  selector:
    matchLabels:
      app: multi-k8s-auth-agent
  template:
    metadata:
      labels:
        app: multi-k8s-auth-agent
    spec:
      serviceAccountName: multi-k8s-auth-agent
      containers:
      - name: agent
        image: multi-k8s-auth-agent
        env:
        - name: MULTI_K8S_AUTH_ENDPOINT
          value: {{ .Values.agent.endpoint | quote }}
        - name: CLUSTER_NAME
          value: {{ .Values.agent.clusterName | quote }}
        - name: REFRESH_INTERVAL
          value: {{ .Values.agent.refreshInterval | quote }}
